body {
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.container > form {
  width: 90%;
  max-width: 400px;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
}

pre {
  width: 90%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

p {
  color: red;
}

input {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-weight: 700;
  font-size: larger;
  margin-bottom: 5px;
  margin-top: 10px;
}
